# Copyright (c) 2014, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on early-init
    mkdir /firmware 0771 system system
    mkdir /system 0777 root root
    symlink /data/tombstones /tombstones

on fs
    mount_all fstab.qcom

    mkdir /persist/data 0700 system system
    restorecon_recursive /persist

on post-fs-data
    mkdir /data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/wcnss 0771 system system
    mkdir /tombstones/dsps 0771 system system
    mkdir /persist/data/sfs 0700 system system
    mkdir /persist/data/tz 0700 system system
    mkdir /data/param 0771 system system

# yulong begin,add
# CTS touchscreen items, wzh,2013-03-25
    chown system system /sys/devices/virtual/touchscreen/touchscreen_dev/firmware_update
    chown system system /sys/devices/virtual/touchscreen/touchscreen_dev/calibrate
    chown system system /sys/devices/virtual/touchscreen/touchscreen_dev/mode
    chown system system /sys/devices/virtual/touchscreen/touchscreen_dev/oreitation
    chown system system /sys/devices/virtual/touchscreen/touchscreen_dev/regs
    chown system system /sys/devices/virtual/touchscreen/touchscreen_dev/get_rawdata
    chown system system /sys/devices/virtual/touchscreen/touchscreen_dev/debug
    chown system system /sys/devices/virtual/touchscreen/touchscreen_dev/reset
# yulong end

# yulong begin add
# add for hall sensor init , zdd, 20150306
    chown system system /sys/class/switch/hall/name
    chown system system /sys/class/switch/hall/state
    chown system system /sys/class/switch/hall/enable
#yulong end 

#start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics

#enable zram
on property:ro.config.zram=true
    swapon_all fstab.qcom

# Allow usb charging to be disabled peristently
on property:persist.usb.chgdisabled=1
    write /sys/class/power_supply/battery/charging_enabled 0

on property:persist.usb.chgdisabled=0
    write /sys/class/power_supply/battery/charging_enabled 1

service qrngd /system/bin/qrngd -f
   class main
   user root
   group root

service qrngp /system/bin/qrngp -f
   class main
   user root
   group root
   oneshot
   disabled

on property:sys.boot_completed=1
   start qrngp

service qseecomd /system/bin/qseecomd
   class core
   user root
   group root

#service aostlmd /system/bin/aostlmd
#   class late_start
#   user system
#   group system net_raw

service perfd /system/bin/perfd
   class main
   user root
   disabled

service thermal-engine /system/bin/thermal-engine
   class main
   user root
   group root

service time_daemon /system/bin/time_daemon
   class late_start
   user root
   group root

service audiod /system/bin/audiod
   class late_start
   user system
   group system

on boot
    insmod /system/lib/modules/adsprpc.ko
    
    #change sensors permit
    chown system system /dev/yl_alsprox_sensor
    chown system system sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/accel_delay
    chown system system sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/accel_enable
    chown system system sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/calibration
    chown system system sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/capabilities
    chown system system sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/debug
    chown system system sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/device_delay
    chown system system sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/event3
    chown system system sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/gyro_delay
    chown system system sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/gyro_enable
    chown system system sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/id
    chown system system sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/max
    chown system system sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/min
    chown system system sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/modalias
    chown system system sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/name
    chown system system sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/phys
    chown system system sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/poll
    chown system system sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/power
    chown system system sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/properties
    chown system system sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/uevent
    chown system system sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/uniq
    chown system system sys/class/sensors_compass/compass/data
    chown system system sys/class/sensors_compass/compass/enable
    chown system system sys/class/sensors_compass/compass/handle
    chown system system sys/class/sensors_compass/compass/hard_offset
    chown system system sys/class/sensors_compass/compass/max_range
    chown system system sys/class/sensors_compass/compass/min_delay
    chown system system sys/class/sensors_compass/compass/name
    chown system system sys/class/sensors_compass/compass/poll_delay
    chown system system sys/class/sensors_compass/compass/position
    chown system system sys/class/sensors_compass/compass/power
    chown system system sys/class/sensors_compass/compass/resolution
    chown system system sys/class/sensors_compass/compass/self_test
    chown system system sys/class/sensors_compass/compass/self_test_noise
    chown system system sys/class/sensors_compass/compass/sensor_power
    chown system system sys/class/sensors_compass/compass/type
    chown system system sys/class/sensors_compass/compass/uevent
    chown system system sys/class/sensors_compass/compass/vendor
    chown system system sys/class/sensors_compass/compass/version
    chown system system data/system/yas_lib.cfg
    chown system system data/system/yas_set.cfg
    
    chmod 0740 /dev/yl_alsprox_sensor
    chmod 0740 sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/accel_delay
    chmod 0740 sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/accel_enable
    chmod 0740 sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/calibration
    chmod 0740 sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/capabilities
    chmod 0740 sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/debug
    chmod 0740 sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/device_delay
    chmod 0740 sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/event3
    chmod 0740 sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/gyro_delay
    chmod 0740 sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/gyro_enable
    chmod 0740 sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/id
    chmod 0740 sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/max
    chmod 0740 sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/min
    chmod 0740 sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/modalias
    chmod 0740 sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/name
    chmod 0740 sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/phys
    chmod 0740 sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/poll
    chmod 0740 sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/power
    chmod 0740 sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/properties
    chmod 0740 sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/uevent
    chmod 0740 sys/devices/soc.0/78b6000.i2c/i2c-0/0-0068/input/input3/uniq
    chmod 0740 sys/class/sensors_compass/compass/data
    chmod 0740 sys/class/sensors_compass/compass/enable
    chmod 0740 sys/class/sensors_compass/compass/handle
    chmod 0740 sys/class/sensors_compass/compass/hard_offset
    chmod 0740 sys/class/sensors_compass/compass/max_range
    chmod 0740 sys/class/sensors_compass/compass/min_delay
    chmod 0740 sys/class/sensors_compass/compass/name
    chmod 0740 sys/class/sensors_compass/compass/poll_delay
    chmod 0740 sys/class/sensors_compass/compass/position
    chmod 0740 sys/class/sensors_compass/compass/power
    chmod 0740 sys/class/sensors_compass/compass/resolution
    chmod 0740 sys/class/sensors_compass/compass/self_test
    chmod 0740 sys/class/sensors_compass/compass/self_test_noise
    chmod 0740 sys/class/sensors_compass/compass/sensor_power
    chmod 0740 sys/class/sensors_compass/compass/type
    chmod 0740 sys/class/sensors_compass/compass/uevent
    chmod 0740 sys/class/sensors_compass/compass/vendor
    chmod 0740 sys/class/sensors_compass/compass/version
    chmod 0740 data/system/yas_lib.cfg
    chmod 0740 data/system/yas_set.cfg
   
# wbl add camera factory info
   chmod 0666 /dev/camera0
 
    #for change compass orientation array
    write sys/class/sensors_compass/compass/position 5

service ppd /system/bin/mm-pp-daemon
    class late_start
    disabled
    user system
    socket pps stream 0660 system system
    group system graphics

on property:init.svc.surfaceflinger=stopped
    stop ppd

on property:init.svc.surfaceflinger=running
    start ppd

service wcnss-service /system/bin/wcnss_service
    class main
    user system
    group system wifi radio
    oneshot

service imsqmidaemon /system/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio net_raw log qcom_diag

service imsdatadaemon /system/bin/imsdatadaemon
    class main
    user system
    socket ims_datad stream 0660 system radio
    group system wifi radio inet net_raw log qcom_diag net_admin
    disabled

on property:sys.ims.QMI_DAEMON_STATUS=1
    start imsdatadaemon

service ims_rtp_daemon /system/bin/ims_rtp_daemon
   class main
   user system
   socket ims_rtpd stream 0660 system radio
   group radio net_raw diag qcom_diag log
   disabled

on property:sys.ims.DATA_DAEMON_STATUS=1
    start ims_rtp_daemon

service ppd /system/bin/mm-pp-daemon
    class late_start
    disabled
    user system
    socket pps stream 0660 system system
    group system graphics

on property:init.svc.surfaceflinger=stopped
    stop ppd

on property:init.svc.surfaceflinger=running
    start ppd

on charger
    wait /dev/block/bootdevice/by-name/persist
    mount ext4 /dev/block/bootdevice/by-name/persist /persist rw barrier=1
    mkdir /persist/data 0700 system system
    restorecon_recursive /persist
    wait /dev/block/bootdevice/by-name/system
    mount ext4 /dev/block/bootdevice/by-name/system /system ro barrier=1
    chown root system /sys/class/power_supply/bms/current_now
    chown root system /sys/class/power_supply/bms/voltage_ocv
    chmod 0664 /sys/class/power_supply/bms/current_now
    chmod 0664 /sys/class/power_supply/bms/voltage_ocv
    start vm_bms
    load_all_props
    start qcom-post-boot
    class_start charger

service power_engine /system/bin/sh /system/etc/init.qcom.power.sh
    class late_start
    user root
    group root
    disabled

on property:persist.sys.power_ctrl=1
    start power_engine

on property:persist.sys.power_ctrl=0
    stop power_engine
